
.tic-tac-toe-container{
  display: flex;
  justify-content:start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background:rgb(61, 61, 61);
}

h1 {
    font-size:45px;
    color:white;
}

h2 {
    font-size:25px;
    color:lightgray;
    margin-top:-15px;
    margin-bottom:20px;
}

.board{
  display:grid;
  grid-template-columns: repeat(3,1fr);

}

.square {
  width: 145px;
  height: 145px;
  border: 1px solid #666;
  background-color: #969696;
  color:white;
  cursor: pointer;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

.square:hover {
  background-color: #afafaf;
  border-color: #666;
}

.x {
    color: #ff4d4d;
}

.o {
    color: #4d79ff;
}

.square:active {
  background-color: #ffffff;
}

.gameButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width:300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    background:none;
    color: black;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.gameButton:hover {
    background-color: black;
    color: white;
}