
.tic-tac-toe-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background:rgb(61, 61, 61);
}

.tic-tac-toe-container h1 {
    font-size:45px;
    color:darkgray
}

.board{
  display:grid;
  grid-template-columns: repeat(3,1fr);

}

.square {
  width: 145px;
  height: 145px;
  border: 1px solid #666;
  background-color: #e0e0e0;
  cursor: pointer;
  font-size: 80px;
  font-weight: bold;
}

.square:hover {
  background-color: #f0f0f0;
  border-color: #666;
}

.square:active {
  background-color: #d4edff;
}